<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.vrs.dao.ImgCls2Dao">

	<select id="get" resultType="com.bootdo.vrs.domain.ImgCls2DO">
		select `id`,`name`,`status`,`cid`,`sort`,`updateDate`,`pid` from vrs_img_cls2 where id = #{value}
	</select>
	
	<!-- 获取所属分类 -->	
	<select id="getCategory" resultType="com.bootdo.vrs.domain.ImgCls2DO">
		select category.*,menu.`name` category from vrs_img_cls2 category inner join vrs_title_cls menu
		on 
			category.cid = menu.id
		where 
			category.id = #{value}
	</select>
	
	<!-- 获取菜单 -->
	<select id="getMenu" resultType="java.util.Map">
		select * from vrs_title_cls
	</select>
	
	<!-- 是否可以删除当前分类-换色系统 -->
	<select id="contains" resultType="java.util.Map">
		select  
			pro.*,category.name categoryname,category.cid categoryid 
		from 
			vrs_pro pro 
		inner join 
			vrs_img_cls2 category
		where pro.cid = #{id} and pro.typeid = category.cid
	</select>

	<select id="list" resultType="com.bootdo.vrs.domain.ImgCls2DO" parameterType="java.util.Map">
		select `id`,`name`,`status`,`cid`,`updateDate`,`pid` from vrs_img_cls2
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and <!-- name = #{name} --> name like concat('%',#{name},'%') </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="cid != null and cid != ''"> and cid = #{cid} </if>
		  		   <!-- 新加字段 -->
		  		   <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		   <if test="updateDate != null"> and updateDate = #{updateDate} </if>
		  		   <if test="pid != null and pid != ''"> and pid = #{pid} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from vrs_img_cls2
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and <!-- name = #{name} -->  name like concat('%',#{name},'%')</if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="cid != null and cid != ''"> and cid = #{cid} </if>
		  		  <!-- 新加字段 -->
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		  <if test="updateDate != null"> and updateDate = #{updateDate} </if>
		  		   <if test="pid != null and pid != ''"> and pid = #{pid} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.vrs.domain.ImgCls2DO">
		insert into vrs_img_cls2
		(
			`id`, 
			`name`, 
			`status`, 
			`cid`,
			`sort`,
			`updateDate`,
			`pid`
			
		)
		values
		(
			#{id}, 
			#{name}, 
			#{status}, 
			#{cid},
			#{sort},
			#{updateDate},
			#{pid}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.vrs.domain.ImgCls2DO">
		update vrs_img_cls2 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="cid != null">`cid` = #{cid},</if>
			<!-- 新增字段 -->
			<if test="sort != null and sort != ''"> `sort` = #{sort},</if>
			<if test="updateDate != null"> `updateDate` = #{updateDate},</if>
			<if test="pid != null and pid != ''"> `pid` = #{pid}, </if>
		</set>
		where id = #{id}
	</update>
	
	<!-- 逻辑删除 -->
	<delete id="remove">
		delete from vrs_img_cls2
		where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from vrs_img_cls2
		where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>