<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.vrs.dao.PayvipDao">

	<select id="get" resultType="com.bootdo.vrs.domain.PayvipDO">
		select `id`,`month`,`price`,`remker`,`vipId`,`status` from vrs_payvip where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.vrs.domain.PayvipDO">
		select `id`,`month`,`price`,`remker`,`vipId`,`status` from vrs_payvip
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="month != null and month != ''"> and month = #{month} </if>
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		  <if test="remker != null and remker != ''"> and remker = #{remker} </if>
		  		  <if test="vipid != null and vipid != ''"> and vipId = #{vipid} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from vrs_payvip
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="month != null and month != ''"> and month = #{month} </if>
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		  <if test="remker != null and remker != ''"> and remker = #{remker} </if>
		  		  <if test="vipid != null and vipid != ''"> and vipId = #{vipid} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.vrs.domain.PayvipDO" useGeneratedKeys="true" keyProperty="id">
		insert into vrs_payvip
		(
			`month`, 
			`price`, 
			`remker`, 
			`vipId`, 
			`status`
		)
		values
		(
			#{month}, 
			#{price}, 
			#{remker}, 
			#{vipid}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.vrs.domain.PayvipDO">
		update vrs_payvip 
		<set>
			<if test="month != null">`month` = #{month}, </if>
			<if test="price != null">`price` = #{price}, </if>
			<if test="remker != null">`remker` = #{remker}, </if>
			<if test="vipid != null">`vipId` = #{vipid}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from vrs_payvip where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from vrs_payvip where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>