<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.TestDao">


<resultMap type="com.bootdo.system.domain.TestDO" id="TestAll" autoMapping="true">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="createdate" property="createdate"/>
		<result column="cid" property="cid"/>

</resultMap>



<resultMap type="com.bootdo.system.domain.TestDO" id="TestAllAndRs" autoMapping="true" extends="TestAll">
		<association property="rsdo" javaType="com.bootdo.system.domain.RsDO" autoMapping="true">
		  <id column="id" property="id"/>
		  <result column="r.name" property="name"/>
		</association>

</resultMap>


	<select id="get" resultType="com.bootdo.system.domain.TestDO">
		select `id`,`name`,`createDate`,`cid` from vr_test where id = #{value}
	</select>

	<select id="list"  resultMap="TestAllAndRs">
		<!-- select `id`,`name`,`createDate`,`cid` from vr_test -->
		
		select r.name as 'r.name',t.`id`,t.`name`,t.`createDate`,t.cid from vr_test t
left join vr_rs r
on t.cid=r.id
 
 
        <where>  
		  		  <if test="id != null and id != ''"> and t.id = #{id} </if>
		  		  <if test="name != null and name != ''"> and t.name = #{name} </if>
		  		  <if test="createdate != null and createdate != ''"> and t.createDate = #{createdate} </if>
		  		  <if test="cid != null and cid != ''"> and t.cid = #{cid} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by t.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from vr_test
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="createdate != null and createdate != ''"> and createDate = #{createdate} </if>
		  		  <if test="cid != null and cid != ''"> and cid = #{cid} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.TestDO" useGeneratedKeys="true" keyProperty="id">
		insert into vr_test
		(
			`name`, 
			`createDate`, 
			`cid`
		)
		values
		(
			#{name}, 
			#{createdate}, 
			#{cid}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.TestDO">
		update vr_test 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<!-- <if test="createdate != null">`createDate` = now(), </if> -->
			<if test="cid != null">`cid` = #{cid}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from vr_test where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from vr_test where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>