<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${titleCls.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">分类名称:</label>
								<div class="col-sm-8">
									<input id="name" name="name" th:value="${titleCls.name}" class="form-control" type="text">
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-3 control-label">标注说明：</label>
								<div class="col-sm-8">
									<input id="tname" name="tname" th:value="${titleCls.tname}" class="form-control" type="text">
								</div>
							</div>



							<div class="form-group">
								<label class="col-sm-3 control-label">是否显示到网页：</label>
								<div class="col-sm-8">
									<div class="col-sm-8">
										是:<input   name="status"   type="radio" value="1" th:checked="${titleCls.status==1?true:false}">
										否:<input     name="status" type="radio" value="0" th:checked="${titleCls.status==0?true:false}">
									</div>

								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">是否展示到列表：</label>
								<div class="col-sm-8">
									<div class="col-sm-8">
										是:<input   name="isfulls"   type="radio" value="1" th:checked="${titleCls.isfulls==1?true:false}">
										否:<input     name="isfulls" type="radio" value="0" th:checked="${titleCls.isfulls==0?true:false}">
									</div>

								</div>
							</div>


							<input   id="pid"  name="pid" type="hidden"  th:value="${titleCls.pid}">

							<div class="form-group" id="hs">
								<label class="col-sm-3 control-label">父级名称：</label>

								<div class="col-sm-8">

									<!-- <input id="topStyleId" name="topStyleId" class="form-control" type="text"> -->
									<select  id="pid2" class="form-control" required="required" style="width: 15rem;">
										<option value="">选择父级</option>
									</select>
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-3 control-label">下级跳的链接：</label>
								<div class="col-sm-8">
									<input id="hrefs" name="hrefs" th:value="${titleCls.hrefs}" class="form-control" type="text">
								</div>
							</div>




																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/vrs/titleCls/edit.js">
	</script>

<script>
	$(function () {
		$("#hs").hide();
    	var pid=$("#pid").val();
    	//alert(pid);
    	if (pid!=0){
    		//显示修改父级
			$("#hs").show();
			$.get("/vrs/titleCls/titleAll?pid=0",function (data) {
				for (let i = 0; i < data.length; i++) {
					if(data[i].id==pid){

						$("#pid2").append("<option selected='selected' value='"+data[i].id+"'>"+data[i].name+"</option>")
					}else{
						$("#pid2").append("<option value='"+data[i].id+"'>"+data[i].name+"</option>")
					}


				}
			})

		}
    	//改变
		$("#pid2").change(function () {

           $("#pid").val(this.value);

		})
	})

</script>
</body>
</html>
