<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zxx">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>长沙慧都凡志网络科技有限公司</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- favicon icon -->
<link rel="shortcut icon" type="image/png" href="favicon.ico" />
<!-- WEB FONTS -->
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
<!-- Stylesheets -->
<link rel="stylesheet" href="/company/css/font-awesome.min.css">
<link rel="stylesheet" href="/company/css/bootstrap.min.css">
<link rel="stylesheet" href="/company/css/bootstrap-theme.min.css">
<!-- color css -->
<link rel="stylesheet" href="/company/switcher/switcher.css" />
<link rel="stylesheet" href="/company/css/main.css">
<link rel="stylesheet" href="/company/css/colors/blue.css">
<script src="/company/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d148c44b63c217c64b0444b75c3fb535";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" style="overflow: visible;">
<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

<!-- ===========================
			PRELOADER
============================= -->

<div id="preloader">
	<div id="status"></div>
</div>

<!-- End Preloader -->


  <!-- =========================
	  page header START
  ============================== -->
<header>
	<!--Nav Menu Starts-->
	<nav class="navbar default nav-mob">
		<div class="container mob-logo">
			<div class="navbar-header col-sm-2 tablet-logo">
				<button type="button" class="navbar-toggle mob-menu" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#slides" class="brand-logo">
					<img src="" alt="">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav pull-right">
					<li class="" style="position:absolute;left:0;">
						<a href="javascript:;" style="font-size:18px;font-weight:600;">长沙慧都凡志网络科技有限公司</a>
					</li>
					<li class="active">
						<a href="#slides">主页</a>
					</li>
					<li>
						<a href="#karbar-company-jianjie">公司简介</a>
					</li>
					<li>
						<a href="#karbar-how-it-works-section">工作流程</a>
					</li>
					<li>
						<a href="#karbar-service-section">服务范围</a>
					</li>
					<li>
						<a href="#karbar-why-choose-section">选择我们</a>
					</li>
					<li>
						<a href="#karbar-team-section">公司团队</a>
					</li>
					<li>
						<a href="#testimonial-and-client">友情链接</a>
					</li>
					<li>
						<a href="#karbar-price-section">加入我们</a>
					</li>
					<li>
						<a  href="#karbar-footer-section">联系我们</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<!-- end header -->

<div style="width: 280px;height:100px;border-radius: 10px 0 0 10px;position: fixed;top: 80px;right: 0px;z-index:1000;background:rgba(0,0,0,0.5);color: #fff;padding: 10px;line-height: 40px;">
	<b>热线电话： 181-7517-9480 （伍）</b><br>
	<b>热线电话： 136-7737-3735 （陈）</b>
</div>

<!-- =========================
		home slider section
 ============================== -->
<section id="slides" class="pb">
	<div class="slides-container">
		<div class="slide active">
			<div class="img"><img src="/company/images/slider/slide1.jpg" alt="slide" class="img-responsive"></div>
			<div class="overlay"></div>
			<div class="slide-caption">
				<div class="container">
					<div class="box">
						<h1>提高业务</h1>
						<span><h3>互利共生！</h3></span>
						<span>业务热线 ： 181-7517-9480 （伍）</span>
					</div>
				</div>
			</div>
		</div>
		<!-- end slide1 -->
		<div class="slide">
			<div class="img"><img src="/company/images/slider/slide2.jpg" alt="slide" class="img-responsive"></div>
			<div class="overlay"></div>
			<div class="slide-caption">
				<div class="container">
					<div class="box">
						<h1>畅享未来</h1>
						<span><h3>合作共赢！</h3></span><br>
						<span>业务热线 ： 136-7737-3735（陈）</span>
					</div>
				</div>
			</div>
		</div>
		<!-- end slide2 -->
	</div>
	<!-- end slides-container -->
	<div class="slides-navigation">
		<a class="prev sqaureIconSec" href="javascript:;"> <i class="fa fa-chevron-left"></i></a>
		<a class="next sqaureIconSec" href="javascript:;"> <i class="fa fa-chevron-right"></i></a>
	</div>
	<!-- end slides-navigation -->
	<div class="holder">

	  <span class="scroll-btn">
		<a href="#karbar-how-it-works-section">
			<span class="mouse">
				<span>
				</span>
			</span>
		</a>
	</span>
	 <i class="fa fa-chevron-down moreArrow moving"></i>
	 </div> 

</section>
<!-- end slider -->

 <!-- =========================
		How it works section
 ============================== -->   
<section id="karbar-company-jianjie" class="how-it-works section-bg-color" style="background: #fff;">
	<div class="container">
	<div class="row">
			<!-- Section main title -->
			<div class="col-xs-12 section-title-padding">
				<div class="sec-title-container text-center">
					<div class="title-line"></div>
					<h2 class="uppercase font-weight-7 less-mar-1">公司简介</h2>
					<div class="clearfix"></div>
					<p class="by-sub-title">Company profile</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<!--end title-->
			<div class="col-sm-12">
				<div class="subscribe-content">
					<!-- Newsletter title -->
					<div>
						<p>长沙慧都凡志网络科技有限公司成立于2018年7月，注册资本200万元，是一家专注于网络软件开发和销售的新型互联网技术服务型公司，
						一直致力于为企业提供一站式网站建设（定制营销型网站，B2B，B2C），移动端应用(H5手机网站，APP，微信(公众号，小程序)开发)，软件开发等服务。   研发团队实力雄厚，自成立以来，每天都在以一种全新的速度发展壮大。</p>
						<p><b>公司信念：</b>慧心独匠、志创未来</p>
						<p><b>公司文化：</b>打造一直激情、卓越的梦想之队</p>
						<p><b>公司梦想：</b>成为和客户共赢、和员工共赢的一流互联网企业</p>
						<p><b>公司聚焦：</b>专注于客户价值、专注于互联网创新技术、专注于员工发展、专注于湖南省</p>
						<p><b>公司服务：</b>策划定制、正规合同、规范运作、效果说话</p>
						<p><b>公司员工：</b>是一群有梦想有激情的年轻人，核心骨干于IT业从业经验8年以上
						</p>
					</div>
				</div>
			</div>
			<!--end item-->
		</div>
		</div>
	</section>
	<section id="karbar-how-it-works-section" class="how-it-works section-bg-color">
		<div class="container">
		<div class="row">
			<!-- Section main title -->
			<div class="col-xs-12 section-title-padding">
				<div class="sec-title-container text-center">
					<div class="title-line"></div>
					<h2 class="uppercase font-weight-7 less-mar-1">我们的工作流程</h2>
					<div class="clearfix"></div>
					<p class="by-sub-title">lorem ipsum dolor sit amet</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-11 center-block">
				<!--step 1-->
				<div class="row">
					<div class="col-md-6 col-md-push-6 text-center"> <img src="/company/images/step1.png" alt="step-1"> </div>
					<div class="col-md-6 col-md-pull-6 reveal-left-fade">
						<div class="step-number"><span>1</span></div>
						<h4>计划</h4>
						<p>根据客户的实际需求和我们的团队分工，制定出详细而周全的项目计划,根据计划进行分步实施，确保在计划周期内完成或满足客户的要求.</p>
					</div>
				</div>
				<!--step 1 end-->
				<!--step 2-->
				<div class="row">
					<div class="col-md-6 text-center"> <img src="/company/images/step-2.svg" alt="step-2"> </div>
					<div class="col-md-6 reveal-right-fade">
						<div class="step-number"><span>2</span></div>
						<h4>原型</h4>
						<p>充分而明确地了解客户的需求，设计产品原型，进行产品宣讲，使得客户在视觉上对产品有更直观的了解，在理念上对产品有更充分的理解；同时，也使设计人员和技术人员能够更加直观地了解产品意图.</p>
					</div>
				</div>
				<!--step 2 end-->
				<!--step 3-->
				<div class="row">
					<div class="col-md-6 col-md-push-6 text-center"> <img src="/company/images/step-3.svg" alt="step-3"> </div>
					<div class="col-md-6 col-md-pull-6 reveal-left-fade">
						<div class="step-number"><span>3</span></div>
						<h4>视觉设计</h4>
						<p>在产品原型的基础上进行更细致地模块化和细节处理,以确保达到优良的视觉效果，为客户带来舒适、美观的视觉体验.</p>
					</div>
				</div>
				<!--step 3 end-->
				<!--step 4-->
				<div class="row">
					<div class="col-md-6 text-center"> <img src="/company/images/step-4.svg" alt="step-4"> </div>
					<div class="col-md-6 reveal-right-fade">
						<div class="step-number"><span>4</span></div>
						<h4>精良制作</h4>
						<p>综合产品的功能、美点、亮点、理念与体验感，精心研发出真正满足客户需要的产品，力求做到细致入微，精益求精.</p>
					</div>
				</div>
				<!--step 4 end-->
			</div>
		</div>
	</div>
</section>
<!--How it works end-->


 <!-- =========================
		service section
 ============================== -->  
<section id="karbar-service-section">
	<div class="container">
		<div class="row">
			<!-- Section main title -->
			<div class="col-xs-12 section-title-padding">
				<div class="sec-title-container text-center">
					<div class="title-line"></div>
					<h2 class="uppercase font-weight-7 less-mar-1">我们的特色服务</h2>
					<div class="clearfix"></div>
					<p class="by-sub-title">Our special services</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<!--end title-->
			<div class="item">
				<div class="col-md-6">
					<div class="service-left-side active reveal-right-delay">
						<div class="circle"> <i class="fa fa-desktop"></i> </div>
						<div class="text-box">
							<h5 class="title">网页设计</h5>
							<p>大胆<br/>敢于创新<br/>极具视觉效果</p>
						</div>
					</div>
				</div>
				<!--end item-->
				<div class="col-md-6">
					<div class="service-right-side reveal-right-delay">
						<div class="circle"> <i class="fa fa-tablet"></i> </div>
						<div class="text-box">
							<h5 class="title">App 小程序设计</h5>
							<p>客户定制<br/>设计新颖<br/>紧随潮流</p>
						</div>
					</div>
				</div>
				<!--end item-->
				<div class="clearfix"></div>
				<div class="col-divider-margin-3"></div>
				<div class="col-md-6">
					<div class="service-left-side reveal-right-delay">
						<div class="circle"> <i class="fa fa-picture-o"></i> </div>
						<div class="text-box">
							<h5 class="title">电商平台设计</h5>
							<p>响应速度快<br/>操作简单<br/>容易上手</p>
						</div>
					</div>
				</div>
				<!--end item-->
				<div class="col-md-6">
					<div class="service-right-side reveal-right-delay">
						<div class="circle"> <i class="fa fa-wordpress"></i> </div>
						<div class="text-box">
							<h5 class="title">解决方案</h5>
							<p>方案咨询<br/>专业解答<br/>提供理想方案</p>
						</div>
					</div>
				</div>
				<!--end item-->
			</div>
		</div>
	</div>
</section>

<!-- end services -->

   <!-- =========================
		why choose section
 ============================== -->  
<section id="karbar-why-choose-section" class="section-light why-choose-us">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="k-why-choose-us-main">
					<div class="k-why-choose-us margin-bottom"> <img src="/company/images/ce-8.jpg" alt="" class="img-responsive"> </div>
					<div class="border-box"></div>
				</div>
			</div>
			<!--end item-->
			<div class="col-md-5 padding-left-4">
				<div class="col-xs-12 nopadding">
					<div class="sec-title-container text-center">
						<div class="title-line less-mar"></div>
						<h3 class="uppercase font-weight-7 nopadding ce-title"><span>为什么选择我们</span></h3>
						<p>Lorem imsum doler sit amet</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<!--end title-->
				<div class="why-choose-single reveal-right-fade">
					<div class="iconbox-smedium white left round icon"><span><i class="fa fa-phone" aria-hidden="true"></i></span></div>
					<div class="text-box-right" style="padding-top:10px;">
						<h4 class="less-mar-4">24小时全天候服务</h4>
						<p>24-hour round-the-clock service.</p>
					</div>
				</div>
				<div class="why-choose-single reveal-right-fade">
					<div class="iconbox-smedium white left round icon"><span><i class="fa fa-bicycle" aria-hidden="true"></i></span></div>
					<div class="text-box-right" style="padding-top:10px;">
						<h4 class="less-mar-4">操作简易</h4>
						<p>Easy to operate.</p>
					</div>
				</div>
				<div class="why-choose-single reveal-right-fade">
					<div class="iconbox-smedium white left round icon"><span><i class="fa fa-info" aria-hidden="true"></i></span></div>
					<div class="text-box-right" style="padding-top:10px;">
						<h4 class="less-mar-4">精良细致的团队</h4>
						<p>Excellent and meticulous team.</p>
					</div>
				</div>
<div class="why-choose-single reveal-right-fade">
					<div class="iconbox-smedium white left round icon"><span><i class="fa fa-star" aria-hidden="true"></i></span></div>
					<div class="text-box-right" style="padding-top:10px;">
						<h4 class="less-mar-4">实惠的价格、优质的服务</h4>
						<p>Affordable Price and Excellent Service.</p>
					</div>
				</div>
			</div>
			<!--end item-->
		</div>
	</div>
</section>
<!-- end why choose -->

<!-- =========================
	   team section
 ============================== -->  
<section id="karbar-team-section">
	<div class="awesome-team-members">
		<div class="container">
			<div class="row">
				<!-- Section main title -->
				<div class="col-xs-12 section-title-padding">
					<div class="sec-title-container text-center">
						<div class="title-line"></div>
						<h2 class="uppercase font-weight-7 less-mar-1">我们的王牌团队</h2>
						<div class="clearfix"></div>
						<p class="by-sub-title">Our trump card team.</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<!--end title-->
				<div class="col-md-4 col-sm-6 col-xs-12 padding">
					<div class="item-holder margin-bottom">
						<img src="/company/images/ce-3.jpg" alt="" class="img-responsive">
						<div class="clearfix"></div>
						<div class="text-box text-center">
							<h4 class="text-white font-weight-5">架构师</h4>
							<p class="text-sm">公司最高的技术决策者，具有多年的整体架构设计经验，会根据客户需求分析的结果，准确定位网站目标群体，设定网站整体架构，规划、设计网站栏目及其内容，制定网站开发流程及顺序，以最大限度地进行高效资源分配与管理.</p>
							<br>
							
						</div>
					</div>
				</div>
				<!--end item-->
				<div class="col-md-4 col-sm-6 col-xs-12 padding">
					<div class="item-holder margin-bottom">
						<div class="text-box text-center more-height white">
							<h4 class="font-weight-5">技术经理</h4>
							<p>具有多年的项目管理经验，把握项目总体技术方向，对技术选型和具体技术问题进行指导和把关，完成所赋予的各项技术任务/项目.</p>
							<br>
							
						</div>
						<img src="/company/images/ce-4.jpg" alt="" class="img-responsive">
					</div>
				</div>
				<!--end item-->
				<div class="col-md-4 col-sm-6 col-xs-12 padding">
					<div class="item-holder margin-bottom">
						<img src="/company/images/ce-5.jpg" alt="" class="img-responsive">
						<div class="clearfix"></div>
						<div class="text-box text-center">
							<h4 class="text-white font-weight-5">产品经理</h4>
							<p class="text-sm">上海交通大学软件工程专业（大数据技术与移动云计算应用方向）硕士研究生，具有多年的产品需求分析、产品设计和产品管理经验.</p>
							<br>
							
						</div>
					</div>
				</div>
				<!--end item-->
			</div>
		</div>
	</div>
</section>
<!-- end team section -->

 <!-- =========================
		client testimonial section
 ============================== -->  
<section id="testimonial-and-client" class="tc-light-style">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 section-title-padding">
				<div class="sec-title-container text-center">
					<div class="title-line"></div>
					<h2 class="uppercase font-weight-7 less-mar-1">友情链接</h2>
					<div class="clearfix"></div>
					<p class="by-sub-title">Friendship Link</p>
				</div>
			</div>
		</div>
		<div class="row sec-padding sponsors">
			<ul class="clients-list grid-cols-6 hover-6">
				<li>
					<a href="javascript:;"><img src="/company/images/clients/baidu.jpg" alt="" style="width: 100%;"></a>
				</li>
				<li>
					<a href="javascript:;"><img src="/company/images/clients/tengxun.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="/company/images/clients/58.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="/company/images/clients/huanxiong.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="/company/images/clients/xl.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="/company/images/clients/xc.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="/company/images/clients/qcwy.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="/company/images/clients/dx.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="/company/images/clients/tb.jpg" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="/company/images/clients/txgy.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="/company/images/clients/db.png" alt=""></a>
				</li>
				<li>
					<a href="javascript:;"><img src="/company/images/clients/qne.png" alt=""></a>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- end client testimonial -->

 <!-- =========================
		price section
 ============================== --> 
<section id="karbar-price-section">
	<div class="container">
		<div class="row">
			<!-- Section main title -->
			<div class="col-xs-12 section-title-padding">
				<div class="sec-title-container text-center">
					<div class="title-line"></div>
					<h2 class="uppercase font-weight-7 less-mar-1">加入我们</h2>
					<div class="clearfix"></div>
					<p class="by-sub-title">Join us</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<!-- end title -->
			<div class="pricing-table">
				<div class="col-sm-4 col-md-4">
					<div class="item reveal-left-fade">
						<h3>人才招聘</h3>
						<ul>
							<li>Java 工程师</li>
							<li>UI 设计师</li>
							<li>前端工程师</li>
							<li>...</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4 col-md-4">
					<div class="item reveal-bottom-fade">
						<h3>单位合作 <span class="hot"></span></h3>
						<ul>
							<li>业务往来</li>
							<li>商务合作</li>
							<li>项目外包</li>
							<li>...</li>
						</ul>
						<!-- <button class="btn-theme active">Unit cooperation</button> -->
					</div>
				</div>
				<div class="col-sm-4 col-md-4">
					<div class="item reveal-right-fade">
						<h3>私人订制</h3>
						<ul>
							<li>网页设计</li>
							<li>App、小程序</li>
							<li>电商平台</li>
							<li>解决方案</li>
						</ul>
						<!-- <button class="btn-theme">Personal Tailor</button> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end price -->

 <!-- =========================
		Gmap, ContactForm section
 ============================== -->   
<!--  -->
<section id="karbar-footer-section">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="col-xs-12 section-title-padding">
				<div class="sec-title-container text-center">
					<div class="title-line"></div>
					<h2 class="uppercase font-weight-7 less-mar-1">联系我们</h2>
					<div class="clearfix"></div>
					<p class="by-sub-title">Contact us</p>
				</div>
			</div>
			<div id="gmap"></div>
			<div class="contact-form clearfix">
				<form method="post" action="/company/add" class="" id="ajax-contact">
					<div class="col-sm-6">
						<div class="input-text">
							<input type="text" required name="name" id="name" class="input-name form-control" placeholder="公司名称或个人姓名" >
						</div>
						<div class="input-email">
							<input type="email" name="email" id="email" class="input-email form-control" placeholder="邮箱" >
						</div>
						<div class="input-phone">
							<input type="tel" required name="phone" id="phone" class="input-phone form-control" placeholder="手机">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="textarea-message">
							<textarea name="message" id="message" placeholder="简短描述您的需求" rows="3" ></textarea>
						</div>
						<button type="button" id="submit" onclick="save();" name="submit" class="submit-btn">发送<i class="icon-paper-plane"></i></button>
					</div>
					<!--Result notification -->
						<div id="error-message"   ></div>
						<div id="form-messages"></div>
				</form>
			</div>
			<div class="contact-info">
				<ul class="clearfix">
					<li><i class="fa fa-phone" aria-hidden="true"></i>
						<p>订制热线:  136-7737-3735（陈）
							<br> 181-7517-9480（伍）</p>
					</li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i>
						<p>huidufanzhi@163.com
						<br>&nbsp;</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="row">
			<div class="col-sm-12">
				<div class="subscribe-content">
					<!-- Newsletter title -->
					<div class="subscribe-content-inner">
						<p>湖南省长沙市长沙县开源鑫茂3911(长沙县委旁)</p>
					</div>
				</div>
					<div class="copyright">
					<p class="copyright" style="font-size: 12px;">&copy; Copyright 2018 长沙慧都凡志网络科技有限公司 <a href="http://www.beian.miit.gov.cn" target="_blank" style="color: #d2ebe3;border-bottom: dotted 1px #a5d8c7;">湘ICP备18015732号</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end Gmap ContactForm -->

<script src="/company/js/jquery-1.8.3.min.js"></script>
<!-- plugin js -->
<script src="/company/js/plugins.js"></script>
<!-- super slider -->
<script type="text/javascript" src="/company/js/jquery.superslides.min.js"></script>
<!-- contact js -->
<script src="/company/js/jquery-contact.js"></script>
<!-- retina js -->
<script src="/company/js/retina.min.js"></script>
<!-- mailchimp -->
<script src="/company/js/jquery.ajaxchimp.min.js"></script>
<!-- scroll animatin JS -->
<script src="/company/js/scrollreveal.min.js"></script>
<script src="/company/js/main.js"></script>
<!---<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB963i1T-nnKpiJjHmBfZq1zX9nEsgklhQ&callback=initMap" async defer></script>--->
<!-- color js -->
<script src="/company/switcher/switcher.js"></script>
<script>
	function save(){
		var name = $("#name").val();
		var email = $("#email").val();
		var tel = $("#phone").val();
		var content = $("#message").val();
		var myreg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;
	    if (!myreg.test(tel)) {
	    	$("#error-message").addClass("alert alert-warning").text("请输入正确的手机号");
	        return false;
	    }
		
	    var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
		if(email.length > 0 && !reg.test(email)){
			$("#error-message").addClass("alert alert-warning").text("邮箱格式不正确");
			return false;
		}
		
		$.ajax({
			type: "post",
            url: "/company/add",
            data: {tel: tel, name: name, content: content, email: email},
            success: function (r) {
            	$("#error-message").hide();
            	$("#form-messages").addClass("alert alert-success").text(r);
            }
        });
	}
</script>
</body>
</html>

